{%- assign min = 0 -%}
{%- assign max = 9999 -%}
{%- assign diff = max | minus: min -%}
{%- assign random_number = "now" | date: "%N" | modulo: diff | plus: min -%}

{%- if collection.metafields.custom.single_collection_slider_4.value.id != blank -%}
   <div class="collection-sliders"> 
        <div class="collection-slider-wrapper">
            {%- if collection.metafields.custom.single_collection_slider_name_4.value != blank -%}
                <h2 class="collection-slider-title">{{ collection.metafields.custom.single_collection_slider_name_4.value | escape }}</h2>
            {%- else -%}
                <h2 class="collection-slider-title">{{ collection.metafields.custom.single_collection_slider_4.value.title | escape }}</h2>
            {%- endif -%}
            <div class="collection-filter">
                {%- if section.settings.filter != blank -%}
                    <button class="collection-slider-filter active-filter-bt" onclick="addFlterToSlider{{random_number}}(event,'{{ section.settings.filter }}')">{{ section.settings.filter }}</button>
                {%- endif -%}
                {%- if section.settings.filter1 != blank -%}
                    <button class="collection-slider-filter" onclick="addFlterToSlider{{random_number}}(event,'{{ section.settings.filter1 }}')">{{ section.settings.filter1 }}</button>
                {%- endif -%}
                {%- if section.settings.filter2 != blank -%}
                    <button class="collection-slider-filter" onclick="addFlterToSlider{{random_number}}(event,'{{ section.settings.filter2 }}')">{{ section.settings.filter2 }}</button>
                {%- endif -%}
                {%- if section.settings.filter3 != blank -%}
                    <button class="collection-slider-filter" onclick="addFlterToSlider{{random_number}}(event,'{{ section.settings.filter3 }}')">{{ section.settings.filter3 }}</button>
                {%- endif -%}
                {%- if section.settings.filter4 != blank -%}
                    <button class="collection-slider-filter" onclick="addFlterToSlider{{random_number}}(event,'{{ section.settings.filter4 }}')">{{ section.settings.filter4 }}</button>
                {%- endif -%}
            </div>
            <div class="custom-controls">
                <button type="button" aria-label="Preview slide" id="prev-{{ section.id }}" data-controls="prev">
                     <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7776 0.592285L1.41989 12.95L13.7776 25.3077" stroke="black" stroke-linecap="round"/>
                    </svg>
                </button>
                <button type="button" aria-label="Next slide" id="next-{{ section.id }}" data-controls="next">
                    <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.44727 25.3569L13.8224 12.9818L1.44727 0.606711" stroke="black" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
            <div class="collection-slider-items">
                <div class="collection-slider" id="{{ section.id }}">
                    <div class="collection-slider-item-product-temp">
                        <div class="collection-slider-item-product-temp-item">
                            <div class="product-add-loader loading"></div> 
                        </div>
                    </div>
                    <div class="collection-slider-item-product-temp">
                        <div class="collection-slider-item-product-temp-item">
                            <div class="product-add-loader loading"></div>
                        </div>
                    </div>
                    <div class="collection-slider-item-product-temp">
                        <div class="collection-slider-item-product-temp-item">
                            <div class="product-add-loader loading"></div>
                        </div>
                    </div>
                    <div class="collection-slider-item-product-temp">
                        <div class="collection-slider-item-product-temp-item">
                            <div class="product-add-loader loading"></div>
                        </div>
                    </div>
                    <div class="collection-slider-item-product-temp">
                        <div class="collection-slider-item-product-temp-item">
                            <div class="product-add-loader loading"></div>
                        </div>
                    </div>
                    <div class="collection-slider-item-product-temp">
                        <div class="collection-slider-item-product-temp-item">
                            <div class="product-add-loader loading"></div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="button-style">
                <a href="{{ collection.metafields.custom.single_collection_slider_4.value.handle }}" class="collection-slider-view-all">View All</a>
            </div>
        </div>
    </div>

 <script defer type="module">
    new Promise(async function(resolve, reject){
        while (!loadStatus.react_loaded) {
            await delay(100);
        }

        var sliderHandle = null

        const getProducts = (tag = []) => {
            new Promise(async function(resolve, reject){
                while (!loadStatus.create_slider_loaded) {
                    consoleMsg("waiting for enable slick_loaded", null, null);
                    await delay(50);
                }

                var params = {
                    'isLoggedIn': {% if customer %}true{% else %}false{% endif %},
                    'default_vendor_logo': '{{ 'scribbler-vendor-logo.png' | asset_url }}',
                    'type': 'card'
                }

                getFilteredProducts({
                    collection_title: '{{ collection.metafields.custom.single_collection_slider_4.value.title | escape }}',
                    sort_order: '{{ section.settings.sort_order }}',
                    limit: {{ section.settings.products_to_show_slider }},
                    filter_tag: tag,
                    shopify_token: '{{ settings.api-access-token }}'
                }).then(products => {

                    if(products?.products?.length > 0 ){ 
                         if(sliderHandle && typeof sliderHandle.destroy === 'function' ) sliderHandle.destroy()

                        document.getElementById("{{ section.id }}").innerHTML = createCardSlide(products.products, params)

                        sliderHandle = tns({
                            container: '#{{ section.id }}',
                            items: 2,
                            mouseDrag: true,
                            lazyload: true,
                            slideBy: 'page',
                            autoplay: false,
                            controls: true,
                            controlsText: ["",""],
                            prevButton: '#prev-{{ section.id }}',
                            nextButton: '#next-{{ section.id }}',
                            nav: false,
                            responsive: {
                                200: {
                                    items: {{ section.settings.columns_mobile }},
                                },
                                750: {
                                    items: {{ section.settings.columns_tablet }},
                                },
                                990: {
                                    items: {{ section.settings.columns_small_desktop }},
                                },
                                1250: {
                                    items: {{ section.settings.columns_desktop }},
                                }
                            }
                        });
                    } else {
                        if(sliderHandle && typeof sliderHandle.destroy === 'function' ) sliderHandle.destroy()
                        document.getElementById("{{ section.id }}").innerHTML = '<div class="no-product">Oops! No matches found. Try refining your search or discover something new in our collections below.</div>'
                    }
                })

                resolve(true);
            });
        }

        window.addFlterToSlider{{random_number}} = (ev,tag) =>  {
            const parentElement = ev.target.parentElement;
            for (const child of parentElement.children) {
                child.classList.remove("active-filter-bt");
            }

            ev.target.classList.add("active-filter-bt");
           
            getProducts([tag])
        }

        await delay(placeholderReplace);
        getProducts(['{{ section.settings.filter }}'])

        resolve(true);
    });

    new Promise(async function(resolve, reject){
        while (!loadStatus.react_loaded) {
            await delay(50);
        }

        if(!loadStatus.create_slider_started){
            loadStatus.create_slider_started = true;
            loadJS("create_slider", "{{ 'create-slider.js' | asset_url }}", "create_slider_loaded", true);
        }

        resolve(true);
    });

    new Promise(async function(resolve, reject){
        while (!loadStatus.create_slider_loaded) {
            await delay(50);
        }
        if(!window.addFavourite){
            window.addFavourite = addFavourite;
            window.removeFavourite = removeFavourite;
            window.addToBasket = addToBasket;
        }

        resolve(true);
    });
</script>
{%- endif -%}

{% schema %}
{
    "name": "t:sections.collection-meta-single-slider-4.name",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "label": "Sort Order",
            "id": "sort_order",
            "type": "select",
            "options": [
                {
                    "label": "Random",
                    "value": "random"
                },
                {
                    "label": "New In",
                    "value": "created-descending"
                },
                {
                    "label": "Bestsellers",
                    "value": "best-selling"
                },
                {
                    "label": "Prime Tag",
                    "value": "manual"
                },
                {
                    "label": "Bestsellers/Prime Tag Mix",
                    "value": "manual-best-selling"
                }
            ],
            "default": "random"
        },
        {
            "type": "text",
            "id": "filter",
            "default": "Rude",
            "label": "filter"
        },
        {
            "type": "text",
            "id": "filter1",
            "default": "Funny",
            "label": "filter1"
        },
        {
            "type": "text",
            "id": "filter2",
            "default": "Bestseller",
            "label": "filter2"
        },
        {
            "type": "text",
            "id": "filter3",
            "default": "New In",
            "label": "filter3"
        },
        {
            "type": "text",
            "id": "filter4",
            "default": "Balance",
            "label": "filter4"
        },
        {
            "id": "background_color",
            "type": "select",
            "options": [
                {
                    "label": "White",
                    "value": "#ffffff"
                },
                {
                    "label": "Blue",
                    "value": "#F6FBFC"
                },
            ],
            "label": "background color"
        },
        {
            "type": "range",
            "id": "products_to_show_slider",
            "min": 2,
            "max": 100,
            "step": 1,
            "default": 90,
            "label": "t:sections.collection-meta-single-slider-4.settings.products_to_show_slider.label"
        },
        {
            "type": "header",
            "content": "t:sections.collection-meta-single-slider-4.settings.header_desktop.content"
        },
        {
            "type": "range",
            "id": "columns_desktop",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 5,
            "label": "t:sections.collection-meta-single-slider-4.settings.header_desktop.label"
        },
        {
            "type": "header",
            "content": "t:sections.collection-meta-single-slider-4.settings.header_small_desktop.content"
        },
        {
            "type": "range",
            "id": "columns_small_desktop",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4,
            "label": "t:sections.collection-meta-single-slider-4.settings.header_small_desktop.label"
        },
        {
            "type": "header",
            "content": "t:sections.collection-meta-single-slider-4.settings.header_tablet.content"
        },
        {
            "type": "range",
            "id": "columns_tablet",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 3,
            "label": "t:sections.collection-meta-single-slider-4.settings.header_tablet.label"
        },
        {
            "type": "header",
            "content": "t:sections.collection-meta-single-slider-4.settings.header_mobile.content"
        },
        {
            "type": "range",
            "id": "columns_mobile",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2,
            "label": "t:sections.collection-meta-single-slider-4.settings.header_mobile.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
      
    ],
    "presets": [
        {
            "name": "t:sections.collection-meta-single-slider-4.presets.name"
        }
    ]
}
{% endschema %}
