<div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div>
    <div class="cart__footer">
      {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea
            class="text-area field__input"
            name="note"
            form="cart"
            id="Cart-note"
            placeholder="{{ 'sections.cart.note' | t }}"
          >{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div class="totals">
                  <h2 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </small>
              </div>
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button button"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>
{% render 'printess-single-cart-integration',
  shopToken: 'eyJhbGciOiJSUzI1NiIsImtpZCI6InByaW50ZXNzLXNhYXMtYWxwaGEiLCJ0eXAiOiJKV1QifQ.eyJzdWIiOiJOZVRUcGtubUI0UWdWWjc1cjQ5TExPOVV1d3cxIiwianRpIjoiY2lCZ0FEUmF1VmZpdkFTR3lxU3Q0SWhPc0NqZ2R2emoiLCJyb2xlIjoic2hvcCIsIm5iZiI6MTcyMjMzMzQ2OSwiZXhwIjoyMDM3NjkzNDY5LCJpYXQiOjE3MjIzMzM0NjksImlzcyI6IlByaW50ZXNzIEdtYkggJiBDby5LRyIsImF1ZCI6InByaW50ZXNzLXNhYXMifQ.QQvTEojs7ZRkepAIqfSqMb82aq8YXSdFsNuMcHzHIFqBclQj8lqNRNFk9kYDD7U-F38zMLbah0C2JREowKPFMmvNtL_5Ptqq0c66N0ZE3YEZhDJCOFILg9JxRw9gIe25nJokZkR2soKVdmT507YaD1s8K1HNcyz49mGXvKKrS8BMv9Z7Z8WXjEYricotwBdt4YwkJNFnBaICoibdNoGD4hZYWzkHVvlF7ZvwgXBQsZ2EaYFWC_DSCZvHRiiP8ndtMynR9c241ceiu3c8dvlrxugqYomAhzshXdF89LrT1d_2c9yf46QxgpaNrZdD9WbSIp-k5VgnqKSSh2W5DNXKYiLxYh7F0IdTllKg3bmTD1YCvCm1rzTazB-CB4PuDxRpOi-MLoHIDFZwp4lUqLf9lB7NyXPZ9Ie-DVOmgS-uxPqdAEbj_SVBpwyo13xfC1VvJm46UESY0Ojr38lHfJRZOwhQpaT_gxv42aUXAqldcjkqB6eWmN-x11xiucA-5dbVLDXKtq7oA2guN-alRkKTLFl4iVY4ca7PkC32FB3wtJ_eb1UOjECPbvjPavkYeF82qjrDcZT9wHxzlD-JM8NcqQnBFAI8TDhMEWTz1BfLrfIDc0czrad86Bzm50nlPqHTJioAh5oFtyZBNHLZXIM98-EuPYMisYmVVPNFYQS62bY',
  startupLogoUrl: '',
  showStartupAnimation: true,
  hidePricesInEditor: false,
  legalText: '',
  theme: '',
  showProductName: true,
  showAlertOnTabClose: false,
  startupBackgroundColor: '#000000',
  graphQlToken: '253140ef689fb066a5fd83329f016bbb'
%}

<script>
  function executeDemoAction() {
    window["printessShowEditorForItem"]({
            "id": 55170782724471,
            "properties": {
                "_printessSaveToken": "st:l3dI3tRYLZpNZX7HubU1csDs9w_R-CZa5Soa90rcg3j8SBuWg0ofw6JBYUQ4orwZU2Q6miCwLWpcaRaFI6MlIw",
                "_printessThumbnail": "https:\/\/mockups.printess.com\/prts-basket\/NeTTpknmB4QgVZ75r49LLO9Uuww1\/l3dI3tRYLZpNZX7HubU1csDs9w_R-CZa5Soa90rcg3j8SBuWg0ofw6JBYUQ4orwZU2Q6miCwLWpcaRaFI6MlIw\/400\/400\/0b87149257a88412fc100a8cb8283a90f8be447a852aef8265d4b69e4a9bc945\/basket.png",
                "_printessProductDefinitionId": "-1",
                "_printessOutputType": "pdf",
                "_printessDpi": "300"
            },
            "quantity": 1,
            "variant_id": 55170782724471,
            "key": "55170782724471:3f474c969b0d2b0b614b2d2b4cabfb13",
            "title": "Twat Type Father\u0026#39;s Day Card (Copy)-PMC - Standard (120mm x 170mm)",
            "price": 72700,
            "original_price": 72700,
            "presentment_price": 727.0,
            "discounted_price": 72700,
            "line_price": 72700,
            "original_line_price": 72700,
            "total_discount": 0,
            "discounts": [],
            "sku": "WEB584STANDARD",
            "grams": 0,
            "vendor": "Scribbler",
            "taxable": true,
            "product_id": 14969343836535,
            "product_has_only_default_variant": false,
            "gift_card": false,
            "final_price": 72700,
            "final_line_price": 72700,
            "url": "\/products\/twat-type-fathers-day-card-copy-pmc?variant=55170782724471",
            "featured_image": {
                "aspect_ratio": 0.719,
                "alt": "Twat Type Father's Day Card (Copy)-PMC",
                "height": 3567,
                "url": "https:\/\/cdn.shopify.com\/s\/files\/1\/0657\/9637\/4753\/files\/WEB584.jpg?v=1745439120",
                "width": 2563
            },
            "image": "https:\/\/cdn.shopify.com\/s\/files\/1\/0657\/9637\/4753\/files\/WEB584.jpg?v=1745439120",
            "handle": "twat-type-fathers-day-card-copy-pmc",
            "requires_shipping": true,
            "product_type": "Cards",
            "product_title": "Twat Type Father's Day Card (Copy)-PMC",
            "product_description": "Secretly insult your old man with this seriously cheeky Father's Day card that's not as complimentary as it seems at first glance. Designed by Scribbler.",
            "variant_title": "Standard (120mm x 170mm)",
            "variant_options": [
                "Standard (120mm x 170mm)"
            ],
            "options_with_values": [
                {
                    "name": "Size",
                    "value": "Standard (120mm x 170mm)"
                }
            ],
            "line_level_discount_allocations": [],
            "line_level_total_discount": 0,
            "quantity_rule": {
                "min": 1,
                "max": null,
                "increment": 1
            },
            "has_components": false
        });
  }
</script>

<button onclick="executeDemoAction()">Execute test Action</button>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
