{%- liquid
    assign sort_by = results.sort_by | default: results.default_sort_by
    assign total_active_values = 0
    assign default_presentation = 'text'
    if results.url
      assign results_url = results.url
    else
      assign terms = results.terms | escape
      assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
    endif
  -%}
  
  <div class="facets-container scroll-trigger animate--fade-in">
      <facet-filters-form class="facets filter-sort-wrapper">
        <form
          id="FacetFiltersForm"
          class="{% if filter_type == 'horizontal' %}facets__form{% else %}facets__form-vertical{% endif %}"
        >
          {%- if results.terms -%}
            <input type="hidden" name="q" value="{{ results.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {%- endif -%}
  
        <div class="filter-parent">
            <div
              id="FacetsWrapperDesktop"  class="facets__wrapper"
            >
              {%- for filter in results.filters -%}
                {% liquid
                  assign total_active_values = total_active_values | plus: filter.active_values.size
                  assign presentation = filter.presentation | default: default_presentation
  
                  if presentation == 'image'
                    assign show_more_number = 12
                    assign visual_layout_class = 'facets-layout facets-layout-grid facets-layout-grid--' | append: presentation
                  else
                    assign show_more_number = 10
                    assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
                  endif
                %}
  
                {% case filter.type %}
                  {% when 'boolean', 'list' %}
                    <details
                      id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                      class="disclosure-has-popup facets__disclosure js-filter filter-section"
                      data-index="{{ forloop.index }}"
                    >
                      <summary
                        class="filter-add-button facets__summary caption-large focus-offset"
                        aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                      >
                        <div>
                          <span class="facets__summary-label">
                            {{- filter.label | escape }}
                          </span>
                          {% render 'icon-plus' %}
                        </div>
                      </summary>
                      <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="filter-add-wrapper">        
                        <div class="filter-header">
                          <span class="facets__selected no-js-hidden">
                            {{- 'products.facets.filters_selected' | t: count: filter.active_values.size -}}
                          </span>
                          <facet-remove>
                            <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                              {{ 'products.facets.reset' | t }}
                            </a>
                          </facet-remove>
                        </div>
  
                        <div class="filter-options-wrapper">
                          {%- liquid
                            assign sorted_values = filter.values
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                          -%}
  
                          {%- for value in sorted_values -%}
                            {% liquid
                              assign input_id = 'Filter-Add-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                              assign is_disabled = false
                              if value.count == 0 and value.active == false
                                assign is_disabled = true
                              endif
                            %}
                            
                            <div class="filter-option">
                              <input 
                                type="checkbox" 
                                name="{{ value.param_name }}" 
                                value="{{ value.value }}" 
                                id="{{ input_id }}"
                                {% if value.active %}checked{% endif %}
                                {% if is_disabled %}disabled{% endif %}
                              >
                              <label for="{{ input_id }}" class="checkbox">
                                {{ value.label | escape }} ({{ value.count }})
                              </label>       
                            </div>
                          {%- endfor -%}
                        </div>
                      </div>
  
                    </details>
                  {% when 'price_range' %}
                    <details
                      id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                      class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                      data-index="{{ forloop.index }}"
                      open
                    >
                      <summary class="facets__summary caption-large focus-offset">
                        <div>
                          <span>{{ filter.label | escape }}</span>
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </div>
                      </summary>
                      <div
                        id="Facet-{{ forloop.index }}-{{ section.id }}"
                        class="{% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
                      >
                        <div class="{% if filter_type == 'horizontal' %}facets__header{% else %}facets__header-vertical{% endif %}">
                          {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                          <span class="facets__selected">
                            {{- 'products.facets.max_price' | t: price: max_price_amount -}}
                          </span>
                          {%- if filter_type != 'vertical' -%}
                            <facet-remove>
                              <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                                {{ 'products.facets.reset' | t }}
                              </a>
                            </facet-remove>
                          {%- endif -%}
                        </div>
                      </div>
                    </details>
                {% endcase %}
              {%- endfor -%}
            </div>
                <div class="active-filters active-facets active-facets-desktop">
                  {%- for filter in results.filters -%}
                    {%- for value in filter.active_values -%}
                      <facet-remove>
                        <a href="{{ value.url_to_remove }}" class="active-filter-button-wrap active-filter-button active-facets__button active-facets__button--light">
                          <span class="active-facets__button-inner button button--tertiary">
                            <div>{{ value.label | escape }}</div>
                            <div class="svg-wrapper">
                              {% render 'icon-close-small' %}
                            </div>
                          </span>
                        </a>
                      </facet-remove>
                    {%- endfor -%}
                    {% if filter.type == 'price_range' %}
                      {% assign min = filter.min_value.value %}
                      {% assign max = filter.max_value.value %}
                      {%- if min != null or max != null -%}
                        <facet-remove>
                          <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                            <span class="active-facets__button-inner button button--tertiary">
                              {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                              <span class="svg-wrapper">
                                {{- 'icon-close-small.svg' | inline_asset_content -}}
                              </span>
                              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                            </span>
                          </a>
                        </facet-remove>
                      {%- endif -%}
                    {% endif %}
                  {%- endfor -%}
                </div>
      
              </div>
  
          {% if results.current_vendor or results.current_type %}
            <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
          {% endif %}
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              
              <div class="select select-wrapper">
                <div class="facet-filters__label caption-large text-body">
                  <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                </div>
                {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in results.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
            </div>
          </div>
              
            
            <div class="product-count light hidden" role="status">
              <h2 class="product-count__text text-body">
                <span id="ProductCount">
                  {%- if results.results_count -%}
                    {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                  {%- elsif results.products_count == results.all_products_count -%}
                    {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                  {%- else -%}
                    {{
                      'products.facets.product_count'
                      | t: product_count: results.products_count, count: results.all_products_count
                    }}
                  {%- endif -%}
                </span>
              </h2>
              
            <div class="{% if class %}{{ class }}{% else %}loading__spinner hidden{% endif %}">
              {{ 'loading-spinner.svg' | inline_asset_content }}
            </div>
  
            </div>
        
        </form>
      </facet-filters-form>
  </div>